/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "primeng/resources/themes/viva-light/theme.css";

@import "primeng/resources/primeng.css";

body{
    display: flex;
    flex: 1 1;
    width: 100vw;;
    height: 100vh;
    background: rgb(246, 240, 234);
    font-family: Verdana, sans-serif;
    overflow-x: hidden;
}

.p-toast-message{
    background: lightgray;
}