/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "primeng/resources/themes/viva-light/theme.css";

@import "primeng/resources/primeng.css";

body{
    display: flex;
    flex: 1 1;
    width: 100vw;;
    height: 100vh;
    font-family: Verdana, sans-serif;
}

// Remove default primeng dialog padding
.p-dialog .p-dialog-content {
    padding: 0rem !important;
    border-radius: 16px !important;
}